In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [2]:
nested_tup = (4,5,6),(7,8)
nested_tup

((4, 5, 6), (7, 8))

In [3]:
tuple([4,0,2])

(4, 0, 2)

In [4]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
tup[0]

's'

In [6]:
tup = tuple(['foo', [1,2], True])
# tup[2] = Flase
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [7]:
(4, None, 'foo') + (6,0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [8]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [9]:
tup = (4,5,6)
a,b,c = tup
b

5

In [10]:
tup = 4,5,(6,7)
a,b,(c,d) = tup
d

7

In [11]:
a , b = 1, 2
a

1

In [12]:
b

2

In [13]:
b, a = a, b
a

2

In [14]:
b

1

In [15]:
seq = [(1,2,3), (4,5,6), (7,8,9)]
for a,b,c in seq:
    print('a={0}, b={1}, c={2}'.format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [16]:
values = 1,2,3,4,5
a, b, *rest = values
a,b

(1, 2)

In [17]:
rest
a, b, *_ = values

In [18]:
a = (1,2,2,2,3,4,2)
a.count(2)

4

In [19]:
a_list = [2,3,7,None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [20]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [21]:
gen = range(10)
gen

range(0, 10)

In [22]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [24]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [25]:
b_list.pop(2)

'peekaboo'

In [26]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [27]:
b_list.append('foo')
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [28]:
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

In [29]:
'dwarf' in b_list

True

In [30]:
'dwarf' not in b_list

False

In [31]:
[4, None, 'foo'] + [7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [32]:
x = [4, None, 'foo']
x.extend([7,8,(2,3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [33]:
a = [7,2,5,1,3]
a.sort()
a

[1, 2, 3, 5, 7]

In [34]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [35]:
import bisect
c = [1,2,2,2,3,4,7]
bisect.bisect(c,2)

4

In [36]:
bisect.bisect(c,5)

6

In [37]:
bisect.insort(c,6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [38]:
seq = [7,2,3,7,5,6,0,1]
seq[1:5]

[2, 3, 7, 5]

In [39]:
seq[3:4] = [6,3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [40]:
seq[:5]

[7, 2, 3, 6, 3]

In [41]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [42]:
seq[-4:]

[5, 6, 0, 1]

In [43]:
seq[-6:-2]

[6, 3, 5, 6]

In [44]:
seq[::2]

[7, 3, 3, 6, 1]

In [45]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [46]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
    
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [47]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [48]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [49]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [50]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [51]:
for i, (a,b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i,a,b))

0: foo, one
1: bar, two
2: baz, three

In [52]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names

('Nolan', 'Roger', 'Schilling')

In [53]:
last_names

('Ryan', 'Clemens', 'Curt')

In [54]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [55]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1,2,3,4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [56]:
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [57]:
d1['b']

[1, 2, 3, 4]

In [58]:
'b' in d1

True

In [59]:
d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [60]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [61]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [62]:
ret = d1.pop('dummy')
ret

'another value'

In [63]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [64]:
list(d1.keys())

['a', 'b', 7]

In [65]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [66]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [67]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [68]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
        
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [69]:
hash('string')

-5414850189628889056

In [70]:
hash((1,2,(2,3)))
# hash((1,2,[2,3])) # fails because lists are mutable

-9209053662355515447

In [71]:
d = {}
d[tuple([1,2,3])] = 5
d

{(1, 2, 3): 5}

In [72]:
set([2,2,2,1,3,3])

{1, 2, 3}

In [73]:
{2,2,2,1,3,3}

{1, 2, 3}

In [74]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [75]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [76]:
a.intersection(b)

{3, 4, 5}

In [77]:
a & b

{3, 4, 5}

a.add(x)                        N/A      
a.clear()                       N/A       
a.remove(x)                     N/A       
a.pop() N/A      
a.union(b)                      a | b     
a.update(b)                     a |= b      
a.intersection(b)               a & b       
a.intersection_update(b)        a &= b     
a.difference(b)                 a - b        
a.difference_update(b)          a -= b       
a.symmetric_difference(b)       a ^ b       
a.symmetric_difference_update(b) a ^= b       
a.issubset(b)                   N/A       
a.issuperset(b)                 N/A      
a.isdisjoint(b)                 N/A

In [78]:
c = a.copy()
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [79]:
d = a.copy()
d &= b
d

{3, 4, 5}

In [80]:
my_data = [1,2,3,4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [81]:
a_set = {1,2,3,4,5}
{1,2,3}.issubset(a_set)

True

In [82]:
a_set.issuperset({1,2,3})

True

In [83]:
{1,2,3} == {3,2,1}

True

In [84]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [85]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [86]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [87]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [88]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], 
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]
result = [name for names in all_data for name in names if name.count('e') >= 2]
result

['Steven']

In [89]:
some_tuples = [(1,2,3),(4,5,6),(7,8,9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [91]:
# Functions
def my_function(x,y,z):
    if z>1:
        return z*(x+y)
    else:
        return z/(x+7)

In [92]:
my_function(1,2,3)

9

In [93]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()

print(a)

[]

In [94]:
# Returning Multiple Values
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

In [95]:
return_value = f()
return_value

(5, 6, 7)

In [96]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

In [97]:
# Functions Are Objects
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south carolina##', 'West virginia?']

In [98]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [99]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [100]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [101]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [102]:
for x in map(remove_punctuation, states):
    print(x)

 Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

In [103]:
# Anonymous (Lambda) Functions

def short_function(x):
    return x * 2

equiv_anon = lambda x:x*2

def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4,0,1,5,6]
apply_to_list(ints, lambda x:x*2)

[8, 0, 2, 10, 12]

In [104]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [105]:
# Currying: Partial Argument Application
def add_numbers(x,y):
    return x+y
add_five = lambda y: add_numbers(5,y)

from functools import partial
add_five = partial(add_numbers, 5)

In [106]:
# Generators
some_dict = {'a': 1, 'b':2, 'c':3}
for key in some_dict:
    print(key)

a
b
c

In [107]:
dict_iterator = iter(some_dict)
dict_iterator

In [108]:
list(dict_iterator)

['a', 'b', 'c']

In [109]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n+1):
        yield i**2

gen = squares()
gen

In [110]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [111]:
gen = (x **2 for x in range(100))
gen

In [112]:
def _make_gen():
    for x in range(100):
        yield x ** 2

gen = _make_gen()

In [113]:
sum(x**2 for x in range(100))

328350

In [114]:
dict((i, i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [115]:
import itertools
first_letter = lambda x : x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

combinations(iterable, k)

permutations(iterable, k)

groupby(iterable[, keyfunc])

product(*iterables, repeat=1)

In [116]:
# Errors and Exception Handling
float('1.2345')
# float('something')

1.2345

In [117]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

attempt_float('1.2345')

1.2345

In [118]:
attempt_float('something')
# float((1,2))
# attempt_float((1,2))

'something'

In [119]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x