In [1]:
import numpy as np

In [2]:
data = {i : np.random.randn() for i in range(7)}
data

{0: -0.6111713273596063,
 1: 1.251648918517873,
 2: -0.1305010124437834,
 3: 0.38005604444087127,
 4: 1.7492903476338122,
 5: 0.3410853713456748,
 6: -1.3429404636932787}

In [3]:
from numpy.random import randn
data = {i : randn() for i in range(7)}
data

{0: -1.3624275624840572,
 1: 0.36619363605463856,
 2: -1.477604252080363,
 3: -0.6679257361294123,
 4: 0.7737963395695511,
 5: -0.16492688324047683,
 6: -1.5250471752822568}

In [4]:
an_apple = 27
an_example = 42

In [5]:
b = [1,2,3]
b?

Type:        list
String form: [1, 2, 3]
Length:      3
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [6]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [7]:
print??

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [8]:
def f(x,y,z):
    return (x+y)/z

In [9]:
a = 5
b = 6
c = 7.5
result = f(a,b,c)
result

1.4666666666666666

In [10]:
a = [1,2,3]
b = a

In [11]:
a.append(4)
b

[1, 2, 3, 4]

In [12]:
def append_element(some_list, element):
    some_list.append(element)

data = [1,2,3]

append_element(data, 4)
data

[1, 2, 3, 4]

In [13]:
a =5 
type(a)

int

In [14]:
a = 'foo'
type(a)

str

In [15]:
a = 4.5
b = 2
print('a is {0}, b is {1}'.format(type(a), type(b)))

a is <class 'float'>, b is <class 'int'>

In [16]:
a/b

2.25

In [17]:
a = 5
isinstance(a, int)

True

In [18]:
a = 5
b = 4.5
isinstance(a, (int, float))

True

In [19]:
isinstance(b, (int, float))

True

In [20]:
a = 'foo'
getattr(a, 'split')

In [21]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False

In [22]:
isiterable('a string')

True

In [23]:
isiterable([1,2,3])

True

In [24]:
isiterable(5)

False

In [25]:
5 - 7

-2

In [26]:
12 + 21.5

33.5

In [27]:
5 <= 2

False

In [28]:
a = [1,2,3]
b = a
c = list(a)
a is b

True

In [29]:
a is not c

True

In [30]:
a == c

True

In [31]:
a == None

False

In [32]:
a = None
a is None

True

In [33]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3,4)
a_list

['foo', 2, (3, 4)]

In [34]:
a_tuple = (3,5, (4,5))
# a_tuple[1] = 'four'   /  error

In [35]:
ival = 17239871
ival * 6

103439226

In [36]:
fval = 7.243
fval2 = 7.78e-5

In [37]:
3//2

1

In [38]:
a = 'one way of writing a string'
b = "another way"
c = """
This is a longer string that
spans multiple lines
"""

In [39]:
c.count('\n')

3

In [40]:
a = 'this is a string'
a[10]

's'

In [41]:
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [42]:
a

'this is a string'

In [43]:
a = 5.6
s = str(a)
print(s)

5.6

In [44]:
s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [45]:
s[:3]

'pyt'

In [46]:
s='12\\34'
print(s)

12\34

In [47]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [48]:
a = 'this is the first half'
b = 'and this is the second half'
a + b

'this is the first halfand this is the second half'

In [49]:
template = '{0:.2f} {1:s} are worth US${2:d}'
template

# {0:.2f} means to format the first argument as a floating-point number with two
# decimal places.
# {1:s} means to format the second argument as a string.
# {2:d} means to format the third argument as an exact integer.

'{0:.2f} {1:s} are worth US${2:d}'

In [50]:
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

In [51]:
val = "español"
val

'español'

In [52]:
val_utf8 = val.encode('utf-8')
val_utf8

b'espa\xc3\xb1ol'

In [53]:
type(val_utf8)

bytes

In [54]:
val_utf8.decode('utf-8')

'español'

In [55]:
val.encode('latin1')

b'espa\xf1ol'

In [56]:
val.encode('utf-16')

b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [57]:
val.encode('utf-16le')

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [58]:
btyes_val = b'this is bytes'
btyes_val

b'this is bytes'

In [59]:
decoded = btyes_val.decode('utf8')
decoded

'this is bytes'

In [60]:
True and True

True

In [61]:
False or True

True

In [62]:
s = '3.14159'
fval = float(s)
type(fval)

float

In [63]:
int(fval)

3

In [64]:
bool(fval)

True

In [65]:
bool(0)

False

In [66]:
a = None
a is None

True

In [67]:
b = 5
b is not None

True

In [68]:
type(None)

NoneType

In [69]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day

29

In [70]:
dt.minute

30

In [71]:
dt.date()

datetime.date(2011, 10, 29)

In [72]:
dt.time()

datetime.time(20, 30, 21)

In [73]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [74]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [75]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [76]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2-dt
delta

datetime.timedelta(days=17, seconds=7179)

In [77]:
type(delta)

datetime.timedelta

In [78]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [79]:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [80]:
a = 5
b = 7
c = 8
d = 4

if a < b or c < d:
    print('Made it')

Made it

In [81]:
4 > 3 > 2 > 1

True

In [82]:
for i in range(4):
    for j in range(4):
        if j>i:
            break
        print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [83]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x//2
    print(total)

256
384
448
480
496
504

In [84]:
range(10)

range(0, 10)

In [85]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [87]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [88]:
sum = 0
for i in range(100000):
    if i % 3 == 0 or i % 5 == 0:
        sum += i
        
print(sum)

2333316668

In [89]:
x = 5
'Non-negative' if x>=0 else 'Negative'

'Non-negative'