In [1]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
# Interfacing Between pandas and Model Code
data = pd.DataFrame({
    'x0': [1, 2, 3, 4, 5],
    'x1': [0.01, -0.01, 0.25, -4.1, 0.],
    'y': [-1.5, 0., 3.6, 1.3, -2.]})
data

   x0    x1    y
0   1  0.01 -1.5
1   2 -0.01  0.0
2   3  0.25  3.6
3   4 -4.10  1.3
4   5  0.00 -2.0

In [3]:
data.columns

Index(['x0', 'x1', 'y'], dtype='object')

In [4]:
data.values

array([[ 1.  ,  0.01, -1.5 ],
       [ 2.  , -0.01,  0.  ],
       [ 3.  ,  0.25,  3.6 ],
       [ 4.  , -4.1 ,  1.3 ],
       [ 5.  ,  0.  , -2.  ]])

In [5]:
df2 = pd.DataFrame(data.values, columns=['one', 'two', 'three'])
df2

   one   two  three
0  1.0  0.01   -1.5
1  2.0 -0.01    0.0
2  3.0  0.25    3.6
3  4.0 -4.10    1.3
4  5.0  0.00   -2.0

In [6]:
df3 = data.copy()
df3['strings'] = ['a','b' ,'c', 'd', 'e']
df3

   x0    x1    y strings
0   1  0.01 -1.5       a
1   2 -0.01  0.0       b
2   3  0.25  3.6       c
3   4 -4.10  1.3       d
4   5  0.00 -2.0       e

In [7]:
df3.values

array([[1, 0.01, -1.5, 'a'],
       [2, -0.01, 0.0, 'b'],
       [3, 0.25, 3.6, 'c'],
       [4, -4.1, 1.3, 'd'],
       [5, 0.0, -2.0, 'e']], dtype=object)

In [8]:
model_cols = ['x0', 'x1']
data.loc[:,model_cols].values

array([[ 1.  ,  0.01],
       [ 2.  , -0.01],
       [ 3.  ,  0.25],
       [ 4.  , -4.1 ],
       [ 5.  ,  0.  ]])

In [9]:
data['category'] = pd.Categorical(['a', 'b', 'a', 'a', 'b'],
                                  categories=['a', 'b'])
data

   x0    x1    y category
0   1  0.01 -1.5        a
1   2 -0.01  0.0        b
2   3  0.25  3.6        a
3   4 -4.10  1.3        a
4   5  0.00 -2.0        b

In [10]:
dummies = pd.get_dummies(data.category, prefix='category')
data_with_dummies = data.drop('category', axis=1).join(dummies)
data_with_dummies

   x0    x1    y  category_a  category_b
0   1  0.01 -1.5           1           0
1   2 -0.01  0.0           0           1
2   3  0.25  3.6           1           0
3   4 -4.10  1.3           1           0
4   5  0.00 -2.0           0           1

In [11]:
# Creating Model Descriptions with Patsy
data = pd.DataFrame({
    'x0': [1, 2, 3, 4, 5],
    'x1': [0.01, -0.01, 0.25, -4.1, 0.],
    'y': [-1.5, 0., 3.6, 1.3, -2.]})
data

   x0    x1    y
0   1  0.01 -1.5
1   2 -0.01  0.0
2   3  0.25  3.6
3   4 -4.10  1.3
4   5  0.00 -2.0

In [12]:
import patsy
y, X = patsy.dmatrices('y ~ x0 + x1', data)

In [13]:
y

DesignMatrix with shape (5, 1)
     y
  -1.5
   0.0
   3.6
   1.3
  -2.0
  Terms:
    'y' (column 0)

In [14]:
X

DesignMatrix with shape (5, 3)
  Intercept  x0     x1
          1   1   0.01
          1   2  -0.01
          1   3   0.25
          1   4  -4.10
          1   5   0.00
  Terms:
    'Intercept' (column 0)
    'x0' (column 1)
    'x1' (column 2)

In [15]:
np.asarray(y)

array([[-1.5],
       [ 0. ],
       [ 3.6],
       [ 1.3],
       [-2. ]])

In [16]:
np.asarray(X)

array([[ 1.  ,  1.  ,  0.01],
       [ 1.  ,  2.  , -0.01],
       [ 1.  ,  3.  ,  0.25],
       [ 1.  ,  4.  , -4.1 ],
       [ 1.  ,  5.  ,  0.  ]])

In [17]:
patsy.dmatrices('y ~ x0 + x1 + 0', data)[1]

DesignMatrix with shape (5, 2)
  x0     x1
   1   0.01
   2  -0.01
   3   0.25
   4  -4.10
   5   0.00
  Terms:
    'x0' (column 0)
    'x1' (column 1)

In [18]:
coef, resid, _, _ = np.linalg.lstsq(X, y)

In [19]:
coef

array([[ 0.3129],
       [-0.0791],
       [-0.2655]])

In [20]:
coef = pd.Series(coef.squeeze(), index=X.design_info.column_names)
coef

Intercept    0.312910
x0          -0.079106
x1          -0.265464
dtype: float64

In [21]:
y, X = patsy.dmatrices('y ~ x0 + np.log(np.abs(x1) + 1)', data)
X

DesignMatrix with shape (5, 3)
  Intercept  x0  np.log(np.abs(x1) + 1)
          1   1                 0.00995
          1   2                 0.00995
          1   3                 0.22314
          1   4                 1.62924
          1   5                 0.00000
  Terms:
    'Intercept' (column 0)
    'x0' (column 1)
    'np.log(np.abs(x1) + 1)' (column 2)

In [22]:
y

DesignMatrix with shape (5, 1)
     y
  -1.5
   0.0
   3.6
   1.3
  -2.0
  Terms:
    'y' (column 0)

In [23]:
y, X = patsy.dmatrices('y ~ standardize(x0) + center(x1)', data)
X

DesignMatrix with shape (5, 3)
  Intercept  standardize(x0)  center(x1)
          1         -1.41421        0.78
          1         -0.70711        0.76
          1          0.00000        1.02
          1          0.70711       -3.33
          1          1.41421        0.77
  Terms:
    'Intercept' (column 0)
    'standardize(x0)' (column 1)
    'center(x1)' (column 2)

In [24]:
new_data = pd.DataFrame({
    'x0': [6, 7, 8, 9],
    'x1': [3.1, -0.5, 0, 2.3],
    'y': [1, 2, 3, 4]})
new_X = patsy.build_design_matrices([X.design_info], new_data)
new_X

[DesignMatrix with shape (4, 3)
   Intercept  standardize(x0)  center(x1)
           1          2.12132        3.87
           1          2.82843        0.27
           1          3.53553        0.77
           1          4.24264        3.07
   Terms:
     'Intercept' (column 0)
     'standardize(x0)' (column 1)
     'center(x1)' (column 2)]

In [25]:
y, X = patsy.dmatrices('y ~ I(x0 + x1)', data)
X

DesignMatrix with shape (5, 2)
  Intercept  I(x0 + x1)
          1        1.01
          1        1.99
          1        3.25
          1       -0.10
          1        5.00
  Terms:
    'Intercept' (column 0)
    'I(x0 + x1)' (column 1)

In [26]:
data = pd.DataFrame({
    'key1': ['a', 'a', 'b', 'b', 'a', 'b', 'a', 'b'],
    'key2': [0, 1, 0, 1, 0, 1, 0, 0],
    'v1': [1, 2, 3, 4, 5, 6, 7, 8],
    'v2': [-1, 0, 2.5, -0.5, 4.0, -1.2, 0.2, -1.7]
})
y, X = patsy.dmatrices('v2 ~ key1 + 0', data)
X

DesignMatrix with shape (8, 2)
  key1[a]  key1[b]
        1        0
        1        0
        0        1
        0        1
        1        0
        0        1
        1        0
        0        1
  Terms:
    'key1' (columns 0:2)

In [27]:
y, X = patsy.dmatrices('v2 ~ C(key2)', data)
X

DesignMatrix with shape (8, 2)
  Intercept  C(key2)[T.1]
          1             0
          1             1
          1             0
          1             1
          1             0
          1             1
          1             0
          1             0
  Terms:
    'Intercept' (column 0)
    'C(key2)' (column 1)

In [28]:
data['key2'] = data['key2'].map({0: 'zero', 1: 'one'})
data

  key1  key2  v1   v2
0    a  zero   1 -1.0
1    a   one   2  0.0
2    b  zero   3  2.5
3    b   one   4 -0.5
4    a  zero   5  4.0
5    b   one   6 -1.2
6    a  zero   7  0.2
7    b  zero   8 -1.7

In [29]:
y, X = patsy.dmatrices('v2 ~ key1 + key2', data)
X

DesignMatrix with shape (8, 3)
  Intercept  key1[T.b]  key2[T.zero]
          1          0             1
          1          0             0
          1          1             1
          1          1             0
          1          0             1
          1          1             0
          1          0             1
          1          1             1
  Terms:
    'Intercept' (column 0)
    'key1' (column 1)
    'key2' (column 2)

In [30]:
y, X = patsy.dmatrices('v2 ~ key1 + key2 + key1:key2', data)
X

DesignMatrix with shape (8, 4)
  Intercept  key1[T.b]  key2[T.zero]  key1[T.b]:key2[T.zero]
          1          0             1                       0
          1          0             0                       0
          1          1             1                       1
          1          1             0                       0
          1          0             1                       0
          1          1             0                       0
          1          0             1                       0
          1          1             1                       1
  Terms:
    'Intercept' (column 0)
    'key1' (column 1)
    'key2' (column 2)
    'key1:key2' (column 3)

In [31]:
# Introduction to statsmodels
import statsmodels.api as sm
import statsmodels.formula.api as smf

def dnorm(mean, variance, size=1):
    if isinstance(size, int):
        size = size,
    return mean + np.sqrt(variance) * np.random.randn(*size)

In [32]:
np.random.seed(12345)

N = 100
X = np.c_[dnorm(0, 0.4, size=N),
          dnorm(0, 0.6, size=N),
          dnorm(0, 0.2, size=N)]
eps = dnorm(0, 0.1, size=N)
beta = [0.1, 0.3, 0.5]

y = np.dot(X, beta) + eps

In [33]:
X[:5]

array([[-0.1295, -1.2128,  0.5042],
       [ 0.3029, -0.4357, -0.2542],
       [-0.3285, -0.0253,  0.1384],
       [-0.3515, -0.7196, -0.2582],
       [ 1.2433, -0.3738, -0.5226]])

In [34]:
y[:5]

array([ 0.4279, -0.6735, -0.0909, -0.4895, -0.1289])

In [35]:
X_model = sm.add_constant(X)
X_model

array([[ 1.    , -0.1295, -1.2128,  0.5042],
       [ 1.    ,  0.3029, -0.4357, -0.2542],
       [ 1.    , -0.3285, -0.0253,  0.1384],
       [ 1.    , -0.3515, -0.7196, -0.2582],
       [ 1.    ,  1.2433, -0.3738, -0.5226],
       [ 1.    ,  0.8813, -0.0281, -0.369 ],
       [ 1.    ,  0.0588,  0.8485, -1.1826],
       [ 1.    ,  0.1782,  0.7598, -0.0684],
       [ 1.    ,  0.4864, -0.4566, -0.3363],
       [ 1.    ,  0.7883,  1.2252, -0.0593],
       [ 1.    ,  0.637 , -0.4096,  0.6517],
       [ 1.    , -0.8198,  0.354 ,  0.2726],
       [ 1.    ,  0.1739,  0.7204, -0.2208],
       [ 1.    ,  0.1448, -1.2156,  0.5545],
       [ 1.    ,  0.8557, -0.792 , -0.0607],
       [ 1.    ,  0.5606, -0.312 ,  0.6395],
       [ 1.    , -1.2659,  0.1708, -0.3787],
       [ 1.    , -0.2352, -0.1498,  0.2698],
       [ 1.    ,  1.0556,  0.5183,  0.5651],
       [ 1.    , -0.2774, -1.2773, -0.1143],
       [ 1.    , -0.3414, -1.745 , -0.1993],
       [ 1.    ,  0.3017, -0.9038,  0.2095],
       [ 1.    ,  2.0548,  0.2739, -0.43  ],
       [ 1.    , -0.6459,  0.5439, -0.8159],
       [ 1.    , -0.365 , -0.2127,  0.2797],
       [ 1.    ,  0.0785, -0.1078,  0.4574],
       [ 1.    ,  0.1914,  0.0834,  0.4953],
       [ 1.    ,  0.3313, -0.4698,  0.0407],
       [ 1.    ,  0.0006, -0.3231, -0.1566],
       [ 1.    ,  0.8499, -0.0132,  0.0975],
       [ 1.    , -0.4513, -0.9482, -0.4002],
       [ 1.    , -0.5257, -1.3949, -0.7788],
       [ 1.    , -1.4991,  1.2663, -0.4706],
       [ 1.    , -1.1768,  0.7661,  0.6425],
       [ 1.    , -0.5444,  0.3547, -0.2577],
       [ 1.    ,  0.3543,  0.43  , -1.0824],
       [ 1.    , -0.8006,  1.0122, -0.4751],
       [ 1.    ,  0.0758, -0.3413,  0.1062],
       [ 1.    , -0.6726, -0.2334,  0.0004],
       [ 1.    ,  0.2105,  0.3864,  0.0292],
       [ 1.    , -1.4922, -0.6383, -0.6116],
       [ 1.    , -0.1262,  1.0229, -0.0135],
       [ 1.    , -0.9752,  0.3935,  0.4206],
       [ 1.    , -0.6139, -0.5062, -0.2873],
       [ 1.    , -0.8266,  0.1448,  0.4652],
       [ 1.    ,  0.1811, -0.3034, -0.4843],
       [ 1.    ,  0.2391, -0.2109,  0.192 ],
       [ 1.    , -0.4768, -0.0133, -0.1056],
       [ 1.    ,  0.2095,  0.527 ,  0.287 ],
       [ 1.    ,  0.8537,  0.4923, -0.1483],
       [ 1.    ,  0.0442, -0.5865,  0.6234],
       [ 1.    ,  0.156 ,  0.5562, -0.4815],
       [ 1.    , -0.0075, -0.2357, -0.0861],
       [ 1.    ,  0.6355, -1.2996, -0.3896],
       [ 1.    ,  0.8394,  0.3307,  0.1882],
       [ 1.    , -0.5814, -1.2113, -0.5418],
       [ 1.    , -0.9797, -0.2847, -0.1158],
       [ 1.    ,  0.014 ,  0.8102, -0.2601],
       [ 1.    ,  0.4796,  0.945 , -0.5637],
       [ 1.    , -0.4178, -0.1919,  0.2078],
       [ 1.    ,  0.5455, -0.3224, -0.4786],
       [ 1.    , -0.0063, -0.0904,  0.3597],
       [ 1.    ,  0.0316, -1.429 , -0.0701],
       [ 1.    ,  0.4239,  1.6024,  0.8991],
       [ 1.    ,  0.5395, -0.6018, -0.3967],
       [ 1.    , -0.6045,  1.1155, -0.4373],
       [ 1.    , -0.0149, -0.0856, -0.1195],
       [ 1.    , -1.4573,  0.9507,  0.2162],
       [ 1.    , -0.4127,  1.4878, -0.179 ],
       [ 1.    , -0.7705,  0.5782,  0.2012],
       [ 1.    , -0.8428,  1.7232,  0.1787],
       [ 1.    ,  0.6797, -0.5263, -0.0678],
       [ 1.    ,  0.4577,  0.5634, -1.1439],
       [ 1.    ,  0.4364, -0.6729,  0.0719],
       [ 1.    ,  0.6334, -0.9402,  0.0342],
       [ 1.    , -0.3182, -0.3645, -0.1329],
       [ 1.    , -0.3936, -0.712 , -0.5788],
       [ 1.    , -0.5826, -0.6498, -0.3959],
       [ 1.    , -0.4593,  0.3371, -0.0839],
       [ 1.    ,  0.141 , -0.4321, -0.2207],
       [ 1.    ,  0.0325, -0.4395, -0.0516],
       [ 1.    , -0.7322, -0.2886, -0.1569],
       [ 1.    ,  0.5165, -0.7177,  0.02  ],
       [ 1.    ,  0.2742,  1.3595, -0.4015],
       [ 1.    ,  0.6392,  0.9371,  0.3984],
       [ 1.    ,  1.1542,  0.9838, -0.5148],
       [ 1.    , -0.6309, -0.7548, -1.1683],
       [ 1.    ,  0.538 , -0.4916,  0.5104],
       [ 1.    , -0.0832, -0.3065, -0.3878],
       [ 1.    ,  0.5771, -0.2242,  0.1715],
       [ 1.    ,  0.119 , -0.5688, -0.1954],
       [ 1.    ,  1.3721, -0.5643,  0.1554],
       [ 1.    , -0.0727,  0.6497, -0.5502],
       [ 1.    ,  1.2672,  0.2067,  0.2554],
       [ 1.    ,  0.0187,  0.5586,  0.0269],
       [ 1.    ,  0.503 ,  0.7056, -0.1009],
       [ 1.    ,  0.0747, -0.7908,  0.6036],
       [ 1.    , -0.4734, -1.0948,  0.6039],
       [ 1.    ,  0.37  ,  1.0043, -0.1729],
       [ 1.    ,  0.0966,  0.1954,  0.3873]])

In [36]:
model = sm.OLS(y, X)
results = model.fit()
results.params

array([0.1783, 0.223 , 0.501 ])

In [37]:
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.430
Model:                            OLS   Adj. R-squared (uncentered):              0.413
Method:                 Least Squares   F-statistic:                              24.42
Date:                Fri, 06 May 2022   Prob (F-statistic):                    7.44e-12
Time:                        22:44:19   Log-Likelihood:                         -34.305
No. Observations:                 100   AIC:                                      74.61
Df Residuals:                      97   BIC:                                      82.42
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.1783      0.053      3.364      0.001       0.073       0.283
x2             0.2230      0.046      4.818      0.000       0.131       0.315
x3             0.5010      0.080      6.237      0.000       0.342       0.660
==============================================================================
Omnibus:                        4.662   Durbin-Watson:                   2.201
Prob(Omnibus):                  0.097   Jarque-Bera (JB):                4.098
Skew:                           0.481   Prob(JB):                        0.129
Kurtosis:                       3.243   Cond. No.                         1.74
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [38]:
data = pd.DataFrame(X, columns=['col0', 'col1', 'col2'])
data['y'] = y
data[:5]

       col0      col1      col2         y
0 -0.129468 -1.212753  0.504225  0.427863
1  0.302910 -0.435742 -0.254180 -0.673480
2 -0.328522 -0.025302  0.138351 -0.090878
3 -0.351475 -0.719605 -0.258215 -0.489494
4  1.243269 -0.373799 -0.522629 -0.128941

In [39]:
results = smf.ols('y ~ col0 + col1 + col2', data=data).fit()
results.params

Intercept    0.033559
col0         0.176149
col1         0.224826
col2         0.514808
dtype: float64

In [40]:
results.tvalues

Intercept    0.952188
col0         3.319754
col1         4.850730
col2         6.303971
dtype: float64

In [41]:
results.predict(data[:5])

0   -0.002327
1   -0.141904
2    0.041226
3   -0.323070
4   -0.100535
dtype: float64

In [42]:
init_x = 4

import random
values = [init_x, init_x]
N = 1000

b0 = 0.8
b1 = -0.4
noise = dnorm(0, 0.1, N)
for i in range(N):
    new_x = values[-1] * b0 + values[-2] * b1 + noise[i]
    values.append(new_x)

In [43]:
from statsmodels.tsa.ar_model import AutoReg
MAXLAGS = 5
model = AutoReg(values, MAXLAGS)
results = model.fit()

In [44]:
results.params

array([-0.0062,  0.7845, -0.4085, -0.0136,  0.015 ,  0.0143])

In [45]:
# Introduction to scikit-learn
train = pd.read_csv('./Folder/datasets/titanic/train.csv')
test = pd.read_csv('./Folder/datasets/titanic/test.csv')
train[:4]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [46]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [47]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [48]:
impute_value = train['Age'].median()
train['Age'] = train['Age'].fillna(impute_value)
test['Age'] = test['Age'].fillna(impute_value)

In [49]:
train['IsFemale'] = (train['Sex'] == 'female').astype(int)
test['IsFemale'] = (test['Sex'] == 'female').astype(int)

In [50]:
predictors = ['Pclass', 'IsFemale', 'Age']
X_train = train[predictors].values
X_test = test[predictors].values
y_train = train['Survived'].values
X_train[:5]

array([[ 3.,  0., 22.],
       [ 1.,  1., 38.],
       [ 3.,  1., 26.],
       [ 1.,  1., 35.],
       [ 3.,  0., 35.]])

In [51]:
y_train[:5]

array([0, 1, 1, 1, 0], dtype=int64)

In [52]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [53]:
model.fit(X_train, y_train)

LogisticRegression()

In [54]:
y_predict = model.predict(X_test)
y_predict[:10]

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0], dtype=int64)

In [55]:
from sklearn.linear_model import LogisticRegressionCV
model_cv = LogisticRegressionCV()
model_cv.fit(X_train, y_train)
# LogisticRegressionCV(Cs=10, class_weight=None, cv=None, dual=False,
# fit_intercept=True, intercept_scaling=1.0, max_iter=100,
# multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
# refit=True, scoring=None, solver='lbfgs', tol=0.0001, verbose=0)

LogisticRegressionCV()

In [56]:
from sklearn.model_selection import cross_val_score
model = LogisticRegression(C=10)
scores = cross_val_score(model, X_train, y_train, cv=4)
scores

array([0.7758, 0.7982, 0.7758, 0.7883])